body { font-family: Arial, sans-serif; }
#card-list, #selected-cards, #saved-decks { list-style: none; padding: 0; }
#card-list li, #selected-cards li, #saved-decks li { margin: 5px 0; }
button { margin-left: 10px; }
.card-list-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 110px;
  row-gap: 10px;
  overflow: scroll; /* Add scrollbars when content overflows */ 
  width:900px;
  height: 500px;
}

.cards {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 200px; /* Set the width of the div */ 
  height: 200px; /* Set the height of the div */ 

}