@font-face{
    font-family: Pixel;
    src:url(/Yu-Gi-Oh-Simulator/CSS/Fonts/PublicPixel.ttf);
}

body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* To vertically center the content */
    margin: 0; /* Remove default margin */
    background-image: url('/Yu-Gi-Oh-Simulator/images/Background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures the background covers the entire viewport */
}
h1 {
    color: white;
    font: "Pixel", sans-serif;
    font-size: 100px;
    margin: 0 0 20px; /* Add margin below the title */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: crimson;
}
h2 {
    color: white;
    font-family: "Pixel", sans-serif;
    font-size: 30px;
    margin: 20px 0; /* Add margin above and below the subtitle */
}
label, input {
    
    width: 90%;
    padding:12px 20px;
    margin: 10px 0; /* Add margin between labels and inputs */
}
.button-container {
    margin-top: 20px; /* Add margin above button container */
    display: flex;
    gap: 10px; /* Add space between buttons */
}
.button, .buttonsignup {
    width:250px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.button {
    margin-left: 50%;
    transform: translateX(-100%);
}
.buttonsignup {

    background-color: #008CBA; /* Blue */
    transform: translateX(-100%);
}

.popup{
    width: 613px;
    height: 300px;
    background: white;
    border-radius: 6px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img {
    
    margin-top:-50px;
    border-radius: 50%;
    box-shadow : 0 2px 5px rgba(0,0,0,0.2);
}
.popup h3 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popupButton{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow : 0 5px 5px rgba(0,0,0,0.2);
}
